<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="thumbnail">
      <div id="mydiv">
        <h3>Moje konto</h3>
        <h5><%= @user.first_name + " " + @user.last_name %></h5>
        <p>email: <%= @user.email %></p>
        <p>adres: <%= @user.address %></p>
        <p>telefon: <%= @user.phone %></p>
        <%= link_to "Edytuj", edit_user_path(@user), class: "btn btn-warning" %>
      </div>
    </div>
  </div>
</div>