<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Dane zamówienia</h3>
        <p><b>Opis:</b> <%= @order.description %></p>
        <p><b>Uwagi:</b> <%= @order.repair_attention %></p>
        <p><b>Data złożenia:</b> <%= @order.created_at %></p>
        <p><b>Data przyjęcia:</b> <%= @order.date_of_adoption %></p>
        <p><b>Data realizowania:</b> <%= @order.date_of_repair %></p>
        <p><b>Data zakończenia:</b> <%= @order.repair_end_date %></p>
        <p><b>Termin:</b> <%= @order.term %> dni</p>
        <p><b>Status:</b> <%= @order.status %></p>
        <p><b>Cena:</b> <%= @order.price %></p>
        <% if current_user.role == "user" and @order.status == "nowe" %>
        <%= link_to "Edytuj", edit_order_path(@order), class: "btn btn-warning" %>
        <% end %>
        <%= link_to "Zamówienia", orders_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>